<h1>電腦如何思考？——類神經網路</h1>

<h3>概念學習</h3>
<a href="/ch2_concept_1" style="margin-left: 40px;">概念學習2-1</a>
<a href="/ch2_concept_2" style="margin-left: 40px;">概念學習2-2</a>
<a href="/ch2_concept_3" style="margin-left: 40px;">概念學習2-3</a>

<h3>模擬操作</h3>
<a href="/ch2_manipulate_1" style="margin-left: 40px;">模擬2-1</a>
<a href="/ch2_manipulate_2" style="margin-left: 40px;">模擬2-2</a>
<a href="/ch2_manipulate_3" style="margin-left: 40px;">模擬2-3</a>
<a href="/ch2_manipulate_4" style="margin-left: 40px;">模擬2-4</a>
<a href="/ch2_manipulate_5" style="margin-left: 40px;">模擬2-5</a>
<a href="/ch2_manipulate_6" style="margin-left: 40px;">模擬2-6</a>

<h3>概念澄清</h3>
<a href="/ch2_quiz_1" style="margin-left: 40px;">概念澄清2-1</a>
<a href="/ch2_quiz_2" style="margin-left: 40px;">概念澄清2-2</a>