{% extends 'layout.html' %}

{% block body %}
<style type="text/css">

.left {
  display: block;
  margin-left: auto;
  margin-right: 100px;
}

mark {
  background-color: yellow;
  color: black;
}

</style>

<h1>大腦如何思考？——神經網路</h1>
<h2>什麼是神經網路？</h2>
<p><mark>神經網路</mark>可定義為基於人類大腦的<mark>推理模型</mark>，我們的大腦由密集且互相連結的神經元組成。</p>
<p>人類的大腦約莫有<mark>100億個神經元</mark>，之間連接的突觸有<mark>60億個</mark>。</p>
<p>透過同時使用<mark>多個神經元</mark>，大腦在運作其功能的速度是可以遠遠超過電腦的。</p>
<img src="static/images/ch1_g1.png" width="200" class="left">

{% endblock %}