{% extends 'layout.html' %}

{% block body %}
{% include 'ch2_top.html' %}
<style type="text/css">

.graph_block1 {
	display: grid;
  	grid-template-columns: 200px 400px 50px;
  	grid-template-rows: 200px;
  	width: 650px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 100px;
  	margin-bottom: 100px;
}

.graph_block2 {
	display: grid;
  	grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
  	grid-template-rows: 70px;
  	width: 700px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 0px;
  	margin-bottom: 50px;
}

mark {
  background-color: yellow;
  color: black;
}

</style>


<h2 id="anchor">資料的輸入與輸出</h2>
<div class="graph_block1">
	{% if session.option == '0' %}
	<img src="{{ url_for('static', filename='images/0.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '1' %}
	<img src="{{ url_for('static', filename='images/1.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '2' %}
	<img src="{{ url_for('static', filename='images/2.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '3' %}
	<img src="{{ url_for('static', filename='images/3.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '4' %}
	<img src="{{ url_for('static', filename='images/4.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '5' %}
	<img src="{{ url_for('static', filename='images/5.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '6' %}
	<img src="{{ url_for('static', filename='images/6.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '7' %}
	<img src="{{ url_for('static', filename='images/7.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '8' %}
	<img src="{{ url_for('static', filename='images/8.jpg') }}" height="200" style="margin: auto;">
	{% elif session.option == '9' %}
	<img src="{{ url_for('static', filename='images/9.jpg') }}" height="200" style="margin: auto;">
	{% endif %}
	<img src="{{ url_for('static', filename='images/ch2_blocknn.png') }}" height="150" style="margin: auto;">
	<p style="margin: auto;">{{ session.option }}</p>
</div>
<p style="text-align: center; margin-bottom: 0px;">(<img src="{{ url_for('static', filename='images/tap.png') }}" height="50">試著點擊下方的數字圖片)</p>
<div class="graph_block2">
	<a href="/ch2_concept_2/0#anchor"><img src="{{ url_for('static', filename='images/0.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/1#anchor"><img src="{{ url_for('static', filename='images/1.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/2#anchor"><img src="{{ url_for('static', filename='images/2.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/3#anchor"><img src="{{ url_for('static', filename='images/3.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/4#anchor"><img src="{{ url_for('static', filename='images/4.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/5#anchor"><img src="{{ url_for('static', filename='images/5.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/6#anchor"><img src="{{ url_for('static', filename='images/6.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/7#anchor"><img src="{{ url_for('static', filename='images/7.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/8#anchor"><img src="{{ url_for('static', filename='images/8.jpg') }}" height="70" style="margin: auto;"></a>
	<a href="/ch2_concept_2/9#anchor"><img src="{{ url_for('static', filename='images/9.jpg') }}" height="70" style="margin: auto;"></a>
</div>

<p>讓我們再多認識一個案例，類神經網路領域中相當著名的<mark>「數字手寫辨識」</mark>的案例，</p>
<p>如果我們將<mark>數字的「圖片」輸入</mark>進訓練好的類神經網路，它就會<mark>輸出對應的數字。</mark></p>
<p>那麼，這跟「神經元」、「權重」有什麼關係呢？</p>
<p>是這樣的，以圖片而言，<mark>電腦是一個像素一個像素去讀取圖片的資料</mark>，</p>
<p>像是上方圖片中的數字，放大的時候看起來都一格一格的，每一格都是一個數值。 </p>

<p>在數字手寫辨識的案例中圖片的大小為<mark>28x28像素</mark>，</p>
<p>所以在類神經網路的<mark>輸入層就會接收28x28=784個值</mark>，</p>
<p>這些值是多少呢？</p>
<p>因為圖片是黑白的，我們可以<mark>設定白色為1，黑色為0</mark>。</p>
<p>這些值<mark>透過類神經元之間的連結，也就是「權重」，經過相乘和相加的運算</mark>後，最後<mark>判斷出圖片中顯示的數字</mark>為何。</p>


{% include 'ch2_buttom.html' %}
{% endblock %}