<h1>電腦如何思考？——類神經網路</h1>

<h3>概念學習</h3>
<a href="/ch2_concept_1" style="margin-left: 40px;">什麼是類神經網路？</a>
<a href="/ch2_concept_2" style="margin-left: 40px;">資料的輸入與輸出</a>
<a href="/ch2_concept_3" style="margin-left: 40px;">輸出機率值</a>

<h3>模擬操作</h3>
<a href="/ch2_manipulate_1" style="margin-left: 40px;">資料搜集</a>
<a href="/ch2_manipulate_2" style="margin-left: 20px;">訓練類神經網路</a>
<a href="/ch2_manipulate_3" style="margin-left: 20px;">貓狗圖片分類</a>
<a href="/ch2_manipulate_4" style="margin-left: 20px;">輸入像素資料</a>
<a href="/ch2_manipulate_5" style="margin-left: 20px;">類神經網路的數學方法</a>
<a href="/ch2_manipulate_6" style="margin-left: 20px;">健康評分系統</a>

<h3>概念澄清</h3>
<a href="/ch2_quiz_1" style="margin-left: 40px;">三輸入值類神經網路實作</a>
<a href="/ch2_quiz_2" style="margin-left: 40px;">多輸入值類神經網路實作</a>