<h1>電腦如何思考？——類神經網路</h1>

<h3>概念理解</h3>
<a href="/ch2_concept_1" style="margin-left: 40px; background-color: {{ c2_1  }};">什麼是類神經網路？</a>
<a href="/ch2_concept_2" style="margin-left: 40px; background-color: {{ c2_2  }};">資料的輸入與輸出</a>
<a href="/ch2_concept_3" style="margin-left: 40px; background-color: {{ c2_3  }};">輸出機率值</a>

<h3>概念反思</h3>
<a href="/ch2_manipulate_1" style="margin-left: 40px; background-color: {{ m2_1  }};">資料搜集</a>
<a href="/ch2_manipulate_2" style="margin-left: 20px; background-color: {{ m2_2  }};">訓練類神經網路</a>
<a href="/ch2_manipulate_3" style="margin-left: 20px; background-color: {{ m2_3  }};">貓狗圖片分類</a>
<a href="/ch2_manipulate_4" style="margin-left: 20px; background-color: {{ m2_4  }};">輸入像素資料</a>
<a href="/ch2_manipulate_5" style="margin-left: 20px; background-color: {{ m2_5  }};">類神經網路的數學方法</a>
<a href="/ch2_manipulate_6" style="margin-left: 20px; background-color: {{ m2_6  }};">健康評分系統</a>

<h3>概念應用</h3>
<a href="/ch2_quiz_1" style="margin-left: 40px; background-color: {{ q2_1  }};">三輸入值類神經網路實作</a>
<a href="/ch2_quiz_2" style="margin-left: 40px; background-color: {{ q2_2  }};">多輸入值類神經網路實作</a>