{% extends 'layout.html' %}

{% block body %}
{% include 'ch2_top.html' %}
<style type="text/css">

.emptynn1 {
	display: grid;
	grid-template-columns: 300px 250px 250px 200px;
  	grid-template-rows: 160px 240px;
	background-image: url(../static/images/ch2_emptynn1.png);
	background-repeat:no-repeat;
	background-size: 90%;
	background-position: center;
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

#nn1_x1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 220px;
	margin-top: 105px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_x2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 220px;
	margin-top: 90px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn1_w1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 140px;
	margin-top: 105px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_w2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 140px;
	margin-top: 90px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn1_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 115px;
	margin-top: 17px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.nn1_button_block {
	height: 80px;
	width: 150px;
	margin-left: 50px;
	margin-top: 150px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.emptynn2 {
	display: grid;
	grid-template-columns: 300px 250px 250px 200px;
  	grid-template-rows: 200px 200px 200px;
	background-image: url(../static/images/ch2_emptynn2.png);
	background-repeat:no-repeat;
	background-size: 90%;
	background-position: center;
	height: 600px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

#nn2_x1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 220px;
	margin-top: 120px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn2_x2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 220px;
	margin-top: 90px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn2_x3 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 220px;
	margin-top: 40px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn2_w1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 140px;
	margin-top: 120px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn2_w2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 140px;
	margin-top: 60px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn2_w3 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 140px;
	margin-top: 25px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn2_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 95px;
	margin-top: 93px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.nn2_button_block {
	height: 80px;
	width: 150px;
	margin-left: 50px;
	margin-top: 100px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.health_nn {
	display: grid;
	grid-template-columns: 300px 250px 250px 200px;
  	grid-template-rows: 100px 160px 240px 100px;
	height: 600px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

.health_nn_background {
	background-image: url(../static/images/ch2_health_nn.png);
	background-repeat:no-repeat;
	background-size: 95%;
	background-position: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

#health_nn_x1 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 145px;
	margin-top: 130px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#health_nn_x2 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 145px;
	margin-top: 75px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#health_nn_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 180px;
	margin-top: 18px;
	font-size: 25px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.health_nn_button_block {
	height: 80px;
	width: 150px;
	margin-left: 165px;
	margin-top: 150px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.blood_pressure {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	margin-left: 20px;
	margin-top: 200px;
}

.blood_pressure_button_block {
	height: 50px;
	width: 80px;
	margin-left: 140px;
	margin-top: 250px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.blood_pressure_output {
	height: 100px;
	width: 300px;
	margin-left: 200px;
	margin-top: 220px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#blood_pressure_x1 {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 340px;
	margin-top: 226px;
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#blood_pressure_x2 {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 340px;
	margin-top: 265px;
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.heart_rate {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 10px;
	margin-top: 50px;
}

.health_or_sick {
	display: block;
	height: 200px;
	width: 200px;
	background-image: url(../static/images/sick.png);
	background-repeat: no-repeat;
	background-size: 100%;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left: 0px;
	margin-top: 100px;
}

.questions_zone {
	display: grid;
	grid-template-columns: 1000px;
  	grid-template-rows: 50px 320px;
  	height: 370px;
  	width: 1000px;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	border: 5px #7426E0 solid;
}

.form-group {
	display: block;
	margin-left: 40px;
}

textarea {
	height: 90px;
	width: 800px;
	resize: none;
	font-size: 20px
}

mark {
  background-color: yellow;
  color: black;
}

<!--
之前模擬2-5與2-6是寫在一起的，
後來因為不知道問答的表單怎麼分開送答案，
才分開頁面。然後，因為開發時間關係，
還沒修改CSS的部分。
-->

</style>

<h2>健康評分系統</h2>
<p>隨著資訊科技的發展，現代的醫療技術也跟資訊技術結合，</p>
<p>發展出更精準或更有效率的醫療方法。在<mark>了解到一些類神經網路的亨利</mark>，</p>
<img src="{{ url_for('static', filename='images/businessman.png') }}" height="150" style="display: block; margin-left: auto; margin-right: auto;">
<p style="text-align: center; margin-bottom: 0px;">(他是亨利本人)</p>
<p><mark>想試試看個人的醫療數據能不能計算一個人的健康程度</mark>，</p>
<p>他在衛生福利部國民健康署的網站上找到成人的正常心跳約為60~100次/分，</p>
<p>血壓則比較複雜，用表格呈現在下方：</p>
<img src="{{ url_for('static', filename='images/blood_pressure_table.png') }}" height="100" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>亨利搜集了幾個朋友的平均心跳和血壓，還有醫生給的健康評分</mark>，</p>
<p>依照下方的資料，亨利思考了一下該如何為心跳與血壓設置權重。</p>
<img src="{{ url_for('static', filename='images/health_score.png') }}" height="150" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>亨利思考了一下，決定把心跳的權重設置為0.7，血壓則是0.5</mark>，</p>
<p>這樣只有祺祺的分數偏差比較大，其他的分數都很接近，計算結果如下表：</p>
<img src="{{ url_for('static', filename='images/health_score_count.png') }}" height="150" style="display: block; margin-left: auto; margin-right: auto;">
<p>另外，<mark>亨利也擅自地認為70分可以是個健康與不健康的判斷標準</mark>，</p>
<p>健康評分高於70分的人為健康的，反之則為不健康，</p>
<p>下方的類神經網路是亨利設計出來的健康評分類神經網路：</p>

<div class="health_nn">
	<div class="health_nn_background"></div>
	<input type="text" name="health_nn_x1" id="health_nn_x1">
	<input type="text" name="health_nn_x2" id="health_nn_x2">
	<p id="health_nn_y">0</p>

	<div class="blood_pressure">
		<img src="{{ url_for('static', filename='images/blood-pressure.png') }}" height="100">
	</div>
	<div class="blood_pressure_button_block">
		<button style="font-size:15px; width: 100%; height: 100%;" onclick="blood_pressure_count()">測量血壓</button>
	</div>
	<div class="blood_pressure_output">
		<p>收縮壓為_______mmHg</p>
		<p>舒張壓為_______mmHg</p>
	</div>

	<p id="blood_pressure_x1"></p>
	<p id="blood_pressure_x2"></p>

	<div class="heart_rate">
		<img id="heartBTN" src="{{ url_for('static', filename='images/heart-rate.png') }}" height="100" style="display:block; margin-left: 100px" onclick="heartSound()">
		<p style="text-align: center; margin-bottom: 0px;">(試著打開聲音並點擊心臟)</p>
		<audio id="audio">
			<source src="{{ url_for('static', filename='images/heartbeat-01a.mp3') }}" type="audio/mpeg">
		</audio>
	</div>

	<div class="health_nn_button_block">
		<button style="font-size:20px; width: 100%; height: 100%;" onclick="health_nn_count()">計算</button>
	</div>
	
</div>

<p>做完這個類神經網路的亨利，</p>
<p>得意洋洋地認為自己做出了一個方便的健康評斷系統，</p>
<p>想說將這個評斷系統跟醫生討論該如何上線給醫院使用，</p>
<p>沒想到醫生盯著這個系統皺了皺眉頭，說了這個系統根本不合理，</p>
<p>因為如果輸入了一個不健康的心跳數值(較低的數值)，</p>
<p>然後輸入一個足夠高的血壓讓分數超過70分，這樣評斷結果仍然健康，</p>
<p>或是輸入一個超高的心跳，直接讓分數超過70分，評斷結果也會是健康。</p>
<img src="{{ url_for('static', filename='images/confused.png') }}" height="150" style="display: block; margin-left: auto; margin-right: auto;">
<p style="text-align: center; margin-bottom: 0px;">(困惑的醫生，這樣的設計還有很多行不通的邏輯，但他不想再打擊亨利)</p>

<div class="questions_zone">
	<h2>討論一下，回答問題</h2>
		<div style="margin-top: 40px;">
			<h3>問題一</h3>
			<p>看過上述的健康評斷系統，你覺得這樣的設計有何問題？</p>
		  <h3>問題二</h3>
			<p>結合第二章學習到的概念，</p>
			<p>你認為如何更合理地利用類神經網路建立健康評斷系統？</p>
		</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='ch2_manipulate_5.js') }}"></script>

{% include 'ch2_buttom.html' %}
{% endblock %}