{% extends 'layout.html' %}

{% block body %}
{% include 'ch3_top.html' %}

<style type="text/css">

.emptynn1 {
	display: grid;
	grid-template-columns: 300px 210px 220px 270px;
  	grid-template-rows: 160px 55px 185px;
	background-image: url(../static/images/ch3_emptynn1.png);
	background-repeat:no-repeat;
	background-size: 90%;
	background-position: center;
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

#nn1_x1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 120px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_x2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 32px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_w1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 115px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_w2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 25px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn1_expect {
	display: block;
	height: 40px;
	width: 60px;
	font-size: 25px;
	margin-left: 150px;
	margin-top: -2px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_error {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 95px;
	margin-top: 90px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.nn1_button_block {
	height: 80px;
	width: 150px;
	margin-left: 0px;
	margin-top: 100px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}


.health_nn {
	display: grid;
	grid-template-columns: 300px 250px 250px 200px;
  	grid-template-rows: 100px 160px 240px 100px;
	height: 600px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

.health_nn_background {
	background-image: url(../static/images/ch3_health_nn.png);
	background-repeat:no-repeat;
	background-size: 95%;
	background-position: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

#health_nn_x1 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 145px;
	margin-top: 130px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#health_nn_x2 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 145px;
	margin-top: 75px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#health_nn_w1 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 130px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#health_nn_w2 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 75px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#health_nn_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 180px;
	margin-top: 18px;
	font-size: 25px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.health_nn_button_block {
	height: 80px;
	width: 150px;
	margin-left: 165px;
	margin-top: 150px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.blood_pressure {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	margin-left: 20px;
	margin-top: 200px;
}

.blood_pressure_button_block {
	height: 50px;
	width: 80px;
	margin-left: 140px;
	margin-top: 250px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.blood_pressure_output {
	height: 100px;
	width: 300px;
	margin-left: 200px;
	margin-top: 220px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#blood_pressure_x1 {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 340px;
	margin-top: 226px;
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#blood_pressure_x2 {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 340px;
	margin-top: 265px;
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.heart_rate {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 10px;
	margin-top: 50px;
}

.health_or_sick {
	display: block;
	height: 200px;
	width: 200px;
	background-image: url(../static/images/sick.png);
	background-repeat: no-repeat;
	background-size: 100%;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left: 0px;
	margin-top: 100px;
}

.questions_zone {
	display: grid;
	grid-template-columns: 1000px;
  	grid-template-rows: 50px 220px;
  	height: 270px;
  	width: 1000px;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	border: 5px #7426E0 solid;
}

.form-group {
	display: block;
	margin-left: 40px;
}

textarea {
	height: 90px;
	width: 800px;
	resize: none;
	font-size: 20px
}

mark {
  background-color: yellow;
  color: black;
}

.manipulate_zone {
	display: grid;
	grid-template-columns: 1040px;
  grid-template-rows: 200px 160px 60px 60px;
  height: 480px;
  width: 1040px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: blue solid;
}

.jumpers_input {
	display: grid;
	grid-template-columns: 500px 240px 300px;
  grid-template-rows: 200px;
  height: 200px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url(../static/images/ch6_gears3.png);
	background-size: 70%;
	background-repeat: no-repeat;
}

#jumper1_input {
	margin-top: 120px;
	margin-left: 275px;
	font-size: 25px;
	height: 40px;
	width: 40px;
}

#jumper2_input {
	margin-top: 120px;
	margin-left: 115px;
	font-size: 25px;
	height: 40px;
	width: 40px;
}


.output_zone1 {
	display: grid;
	grid-template-columns: 20px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 20px 40px;
  grid-template-rows: 160px;
  height: 160px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.output_zone2 {
	display: grid;
	grid-template-columns: 20px 1000px 20px;
  height: 60px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.output_zone3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

#sum {
	background-color: yellow;
}

#error {
	background-color: yellow;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

</style>

<h2>權重調整的目的</h2>
<p>在第二章節中，亨利使用朋友們的健康資料建立類神經網路。</p>
<img src="{{ url_for('static', filename='images/health_score.png') }}" height="150" style="display: block; margin-left: auto; margin-right: auto;">
<p>如果依照上方的資料，將心跳的權重設定為0.8，血壓的權重設定為0.7，</p>
<p>則小恩的健康分數為121分，很明顯與資料上的97分有差距，</p>
<p>我們試著思考看看，如何調整權重比較合理？</p>

<div class="health_nn">
	<div class="health_nn_background"></div>
	<input type="text" name="health_nn_x1" id="health_nn_x1">
	<input type="text" name="health_nn_x2" id="health_nn_x2">
	<input type="text" name="health_nn_w1" id="health_nn_w1">
	<input type="text" name="health_nn_w2" id="health_nn_w2">
	<p id="health_nn_y">121</p>

	<div class="blood_pressure">
		<img src="{{ url_for('static', filename='images/blood-pressure.png') }}" height="100">
	</div>
	<div class="blood_pressure_button_block">
		<button style="font-size:15px; width: 100%; height: 100%;" onclick="blood_pressure_count()">測量血壓</button>
	</div>
	<div class="blood_pressure_output">
		<p>收縮壓為_______mmHg</p>
		<p>舒張壓為_______mmHg</p>
	</div>

	<p id="blood_pressure_x1"></p>
	<p id="blood_pressure_x2"></p>

	<div class="heart_rate">
		<img id="heartBTN" src="{{ url_for('static', filename='images/heart-rate.png') }}" height="100" style="display:block; margin-left: 100px" onclick="heartSound()">
		<p style="text-align: center; margin-bottom: 0px;">(試著打開聲音並點擊心臟)</p>
		<audio id="audio">
			<source src="{{ url_for('static', filename='images/heartbeat-01a.mp3') }}" type="audio/mpeg">
		</audio>
	</div>

	<div class="health_nn_button_block">
		<button style="font-size:20px; width: 100%; height: 100%;" onclick="health_nn_count()">計算</button>
	</div>
	
</div>

<div class="questions_zone">
	<h2>思考一下，回答問題</h2>
		<div style="margin-top: 40px;">
			<h3>問題一</h3>
			<p>在調整權重的過程中，你有思考出調整權重的目的嗎？</p>
		</div>
</div>

<h2>重點總結</h2>
<p>在本章節中，我們用健康照護的例子理解<mark>類神經網路的「期望輸出」和「誤差」，</mark></p>
<p>並且在問題討論中探討<mark>調整權重的目的，事實上就是「降低誤差」</mark>，</p>
<p>現階段我們以「手動」調整來了解調整權重的目的，等到後續的章節，</p>
<p>我們認識到類神經網路如何「自動」調整權重時，還是別忘記這個目的，</p>
<p>類神經網路就是依賴這個目的去適配它所連接的資料。</p>

<script type="text/javascript" src="{{ url_for('static', filename='ch3_manipulate_1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ch6_manipulate_1.js') }}"></script>

{% include 'ch3_buttom.html' %}
{% endblock %}