<h1>分類錯誤「類神經網路」該怎麼辦？——權重的調整</h1>

<br>
<br>
<a href="/ch3_concept_1" style="margin-left: 40px; background-color: {{ c3_1  }};">類神經網路的誤差</a>

<br>
<br>
<a href="/ch3_manipulate_1" style="margin-left: 40px; background-color: {{ m3_1  }};">權重調整的目的</a>
<a href="/ch3_manipulate_2" style="margin-left: 40px; background-color: {{ m3_2  }};">權重與誤差</a>

<br>
<br>
<!--
<h3>概念應用</h3>
<a href="/ch3_quiz_1" style="margin-left: 40px; background-color: {{ q3_1  }};">三輸入值計算誤差實作</a>
<a href="/ch3_quiz_2" style="margin-left: 40px; background-color: {{ q3_2  }};">多輸入值計算誤差實作</a>
-->