{% extends 'layout.html' %}

{% block body %}
{% include 'ch3_top.html' %}

<style type="text/css">

.emptynn1 {
	display: grid;
	grid-template-columns: 300px 210px 220px 270px;
  	grid-template-rows: 160px 55px 185px;
	background-image: url(../static/images/ch3_emptynn1.png);
	background-repeat:no-repeat;
	background-size: 90%;
	background-position: center;
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

#nn1_x1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 120px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_x2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 32px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_w1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 115px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_w2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 25px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn1_expect {
	display: block;
	height: 40px;
	width: 60px;
	font-size: 25px;
	margin-left: 150px;
	margin-top: -2px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_error {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 95px;
	margin-top: 90px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.nn1_button_block {
	height: 80px;
	width: 150px;
	margin-left: 0px;
	margin-top: 100px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.questions_zone {
	display: grid;
	grid-template-columns: 1000px;
  	grid-template-rows: 50px 270px;
  	height: 320px;
  	width: 1000px;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	border: 5px #7426E0 solid;
}

.form-group {
	display: block;
	margin-left: 40px;
}

textarea {
	height: 90px;
	width: 800px;
	resize: none;
	font-size: 20px
}

mark {
  background-color: yellow;
  color: black;
}

</style>

<h2>權重與誤差(1)</h2>
<p>在本章節，我們將用一個實際的例子來討論<mark>「誤差」如何影響「權重」的調整</mark>。</p>
<p>假設今天在早餐店只有供應兩個品項：一杯25元的紅茶、一個30元的三明治，</p>
<p>你在早餐店買3杯紅茶、4個三明治後，開始計算早餐花費，知道應該付195元，</p>
<p>如果我們這時候要<mark>訓練一個類神經網路計算早餐價錢</mark>，</p>
<p>但是這個<mark>類神經網路一開始設定的紅茶和三明治的價錢是錯誤的</mark>，</p>
<p>認為紅茶是10元，三明治是25元，這時候就需要調整類神經網路所記得的價格，</p>
<p>切記一件事情，<mark>類神經網路只會將輸入層和輸出層連接資料</mark>，</p>
<p>所以它只知道以下三件事：</p>
<p><mark>第一、你買了3杯紅茶和4個三明治。</mark></p>
<p><mark>第二、你應該付195元。</mark></p>
<p><mark>第三、紅茶10元，以及三明治25元。</mark></p>
<p><mark>(讓我還是強調一下這件事，類神經網路並不知道正確的紅茶價格和三明治價格。)</mark></p>
<p>這時候類神經網路就會計算出誤差65元，它就會依照這個誤差去調整權重。</p>
<p>至於它如何調整呢？這我們後續的章節才會介紹到，</p>
<p style="display: block; margin-bottom: 50px;">現階段你可以先試著調整看看下方的類神經網路，思考應該如何調整權重。</p>

<p style="text-align: center; margin-bottom: 0px;">(試著在方格中輸入數字，並按下計算)</p>
<p style="text-align: center; margin-bottom: 0px;">(你需要「假裝」不知道正確價格，這樣你才更容易思考出你為何調整權重)</p>
<div class="emptynn1">
	<p id="nn1_x1">3</p>
	<p id="nn1_x2">4</p>
	<input type="text" name="nn1_w1" id="nn1_w1">
	<input type="text" name="nn1_w2" id="nn1_w2">
	<p id="nn1_y">130</p>
	<p id="nn1_expect">195</p>
	<p id="nn1_error">65</p>
	<div class="nn1_button_block">
		<button style="font-size:20px; width: 100%; height: 100%;" onclick="nn1_count()">計算</button>
	</div>
</div>

<div class="questions_zone">
	<h2>思考一下，回答問題</h2>
		<div style="margin-top: 40px;">
			<h3>問題一</h3>
			<p>在調整權重的過程中，你有思考出調整權重的目的嗎？</p>
			<h3>問題二</h3>
			<p>試著找出其他價錢組合也能讓誤差值為0，並寫下這些價錢組合。</p>
		</div>
</div>

<h2>重點總結</h2>
<p>在本章節中，我們用更貼近日常的例子理解類神經網路的「期望輸出」和「誤差」，</p>
<p>並且在問題討論中探討調整權重的目的，事實上就是「降低誤差」，</p>
<p>現階段我們以「手動」調整來了解調整權重的目的，等到後續的章節，</p>
<p>我們認識到類神經網路如何「自動」調整權重時，還是別忘記這個目的，</p>
<p>類神經網路就是依賴這個目的去適配它所連接的資料。</p>

<script type="text/javascript" src="{{ url_for('static', filename='ch3_manipulate_1.js') }}"></script>

{% include 'ch3_buttom.html' %}
{% endblock %}