{% extends 'layout.html' %}

{% block body %}
{% include 'ch3_top.html' %}

<style type="text/css">

.emptynn1 {
	display: grid;
	grid-template-columns: 300px 210px 220px 270px;
  	grid-template-rows: 160px 55px 185px;
	background-image: url(../static/images/ch3_emptynn1.png);
	background-repeat:no-repeat;
	background-size: 90%;
	background-position: center;
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

#nn1_x1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 120px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_x2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 32px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_w1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 115px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_w2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 25px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn1_expect {
	display: block;
	height: 40px;
	width: 60px;
	font-size: 25px;
	margin-left: 150px;
	margin-top: -2px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_error {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 95px;
	margin-top: 90px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.nn1_button_block {
	height: 80px;
	width: 150px;
	margin-left: 0px;
	margin-top: 100px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.questions_zone {
	display: grid;
	grid-template-columns: 1000px;
  	grid-template-rows: 50px 220px;
  	height: 270px;
  	width: 1000px;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	border: 5px #7426E0 solid;
}

.form-group {
	display: block;
	margin-left: 40px;
}

textarea {
	height: 90px;
	width: 800px;
	resize: none;
	font-size: 20px
}

mark {
  background-color: yellow;
  color: black;
}

.manipulate_zone {
	display: grid;
	grid-template-columns: 1040px;
  grid-template-rows: 200px 160px 60px 60px;
  height: 480px;
  width: 1040px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: blue solid;
}

.jumpers_input {
	display: grid;
	grid-template-columns: 500px 240px 300px;
  grid-template-rows: 200px;
  height: 200px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url(../static/images/ch6_gears3.png);
	background-size: 70%;
	background-repeat: no-repeat;
}

#jumper1_input {
	margin-top: 120px;
	margin-left: 275px;
	font-size: 25px;
	height: 40px;
	width: 40px;
}

#jumper2_input {
	margin-top: 120px;
	margin-left: 115px;
	font-size: 25px;
	height: 40px;
	width: 40px;
}


.output_zone1 {
	display: grid;
	grid-template-columns: 20px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 20px 40px;
  grid-template-rows: 160px;
  height: 160px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.output_zone2 {
	display: grid;
	grid-template-columns: 20px 1000px 20px;
  height: 60px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.output_zone3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

#sum {
	background-color: yellow;
}

#error {
	background-color: yellow;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

</style>

<h2>權重調整的目的</h2>
<p>在本章節，我們將用一個實際的例子來討論<mark>「誤差」如何影響「權重」的調整</mark>。</p>
<p>假設有個<mark>機器人要直線前進</mark>，運送物資到達目的地，</p>
<p>機器人體內有<mark>一個大齒輪與一個小齒輪</mark>，</p>
<p>還有外接一個測距儀可以知道自己與目的地還差多少距離，</p>
<p>機器人轉動一次大齒輪可以<mark>向前8個單位</mark>，</p>
<p>機器人轉動一次小齒輪可以<mark>向前2個單位</mark>，</p>
<p>而起初機器人<mark>與目的地的距離為50個單位</mark>，</p>
<p>對應到我們先前學習到的類神經網路，</p>
<p><mark>大齒輪與小齒輪</mark>轉動一次能夠前進的單位代表著輸入值，</p>
<p><mark>也就是x<sub>1</sub>和x<sub>2</sub></mark>，而<mark>轉動的次數就是w<sub>1</sub>和w<sub>2</sub></mark>，</p>
<p>最初起點與目的地的距離就是<mark>「期望輸出」</mark>，</p>
<p>而機器人外接的測距儀，測量出<mark>與目的地之間的距離就是「誤差」</mark>。</p>
<p>如果機器人一開始設定大齒輪轉動2次，小齒輪轉動1次，</p>
<p>總共前進18個單位，誤差為32個單位。</p>
<img src="{{ url_for('static', filename='images/ch6_gears1.png') }}" class="center" height="350" style="margin-bottom: 100px">

<p><mark>以這樣的情境來看，你可以思考看看該如何調整權重。</mark></p>
<p style="text-align: center; margin-bottom: 0px;">(試著在方格中輸入數字，並按下設定完成)</p>
<div class="manipulate_zone">
	<div class="jumpers_input">
		<input type="text" name="jumper1_input" id="jumper1_input">
		<input type="text" name="jumper2_input" id="jumper2_input">
		<button style="font-size:18px; width: 100px; height: 50px; margin-top: 120px" onclick="jump()">設定完成</button>
	</div>
	<div class="output_zone1">
		<div></div>
		<img src="{{ url_for('static', filename='images/ch6_eight.png') }}" width="160" style="margin-top: auto; margin-bottom: 0px;">
		<div></div>
		<div></div>
		<div></div>
		<img src="{{ url_for('static', filename='images/ch6_eight.png') }}" width="160" style="margin-top: auto; margin-bottom: 0px;">
		<div></div>
		<div></div>
		<div></div>
		<img src="{{ url_for('static', filename='images/ch6_two.png') }}" width="40"  style="margin-top: auto; margin-bottom: 0px;">
		<img src="{{ url_for('static', filename='images/ch6_robot.png') }}" width="300"  style="margin-top: auto; margin-bottom: 0px;">
	</div>
	<div class="output_zone2">
		<div></div>
		<img src="{{ url_for('static', filename='images/ch6_fifty.png') }}" width="1000"  style="margin-top: auto; margin-bottom: 0px;">
	</div>
	<div class="output_zone3">
		<p>目標距離：50個單位｜機器人前進距離：<span id="sum">18個單位</span>｜誤差：<span id="error">32個單位</span></p>
	</div>
	
</div>

<div class="questions_zone">
	<h2>思考一下，回答問題</h2>
		<div style="margin-top: 40px;">
			<h3>問題一</h3>
			<p>在調整權重的過程中，你有思考出調整權重的目的嗎？</p>
		</div>
</div>

<h2>重點總結</h2>
<p>在本章節中，我們用更貼近日常的例子理解類神經網路的「期望輸出」和「誤差」，</p>
<p>並且在問題討論中探討調整權重的目的，事實上就是「降低誤差」，</p>
<p>現階段我們以「手動」調整來了解調整權重的目的，等到後續的章節，</p>
<p>我們認識到類神經網路如何「自動」調整權重時，還是別忘記這個目的，</p>
<p>類神經網路就是依賴這個目的去適配它所連接的資料。</p>

<script type="text/javascript" src="{{ url_for('static', filename='ch3_manipulate_1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ch6_manipulate_1.js') }}"></script>

{% include 'ch3_buttom.html' %}
{% endblock %}