{% extends 'layout.html' %}

{% block body %}

{% include 'ch5_top.html' %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<style type="text/css">

.c_hint_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 820px;
	height: 870px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

.c_output_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 1050px;
	height: 1100px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

.p_hint_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 560px;
	height: 610px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

.p_output_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 320px;
	height: 370px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

code {
	font-size: 20px;
}

</style>

<h2>激勵函數實作</h2>
<p>用程式撰寫步階函數、符號函數、S形函數，</p>
<p>以及線性函數，請使用定義函數的方式，參照範例將此題完成。</p>

<h2>C語言</h2>
<div class="c_hint_zone">
	<h2>程式提示</h2>
	<pre>
	<code class="c">
	#include &lt;stdio.h&gt;
	#include &lt;math.h&gt;

	int step(float X){
		if (_________)
			return 1;
		else
			return 0;
	}

	int sign(float X){
		if (_________)
			return 1;
		else
			return -1;
	}

	float sigmoid(float X){
		return _______________;
	}

	float linear(float X){
		_________;
	}

	int main() {
		return 0;
	}
	</code>
	</pre>
</div>

<div class="c_output_zone">
	<h2>輸出提示</h2>
	<pre>
	<code class="c">
	#include &lt;stdio.h&gt;
	#include &lt;math.h&gt;

	int step(float X){
		if (_________)
			return 1;
		else
			return 0;
	}

	int sign(float X){
		if (_________)
			return 1;
		else
			return -1;
	}

	float sigmoid(float X){
		return _______________;
	}

	float linear(float X){
		_________;
	}

	int main() {
    
		printf("%i\n",step(5));
		printf("%i\n",sign(-7));
		printf("%f\n",sigmoid(7));
		printf("%i\n",linear(3));

		return 0;
	}

	>> 1
	>> -1
	>> 0.999089
	>> 3
	</code>
	</pre>
</div>

<h2>Python</h2>
<div class="p_hint_zone">
	<h2>程式提示</h2>
	<pre>
	<code class="python">
	def step(X):
		if _________:
			return 1
		else:
			return 0

	def sign(X):
		if _________:
			return 1
		else:
			return -1

	import math
	def sigmoid(X):
		return __________________

	def linear(X):
		_________
	</code>
	</pre>
</div>

<div class="p_output_zone">
	<h2>輸出提示</h2>
	<pre>
	<code class="python">
	print(step(3))
	>> 1
	print(sign(-1))
	>> -1
	print(sigmoid(7))
	>> 0.9990889488055994
	print(linear(3))
	>> 3
	</code>
	</pre>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% include 'ch5_buttom.html' %}
{% endblock %}