{% extends 'layout.html' %}

{% block body %}
{% include 'ch6_top.html' %}
<style type="text/css">

.emptynn1 {
	display: grid;
	grid-template-columns: 300px 210px 220px 270px;
  	grid-template-rows: 160px 55px 185px;
	background-image: url(../static/images/ch3_emptynn1.png);
	background-repeat:no-repeat;
	background-size: 90%;
	background-position: center;
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

#nn1_x1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 115px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_x2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 195px;
	margin-top: 25px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_w1 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 115px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#nn1_w2 {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 85px;
	margin-top: 25px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nn1_expect {
	font-size: 25px;
	height: 40px;
	width: 40px;
	margin-left: 150px;
	margin-top: -5px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

#nn1_error {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 95px;
	margin-top: 90px;
	font-size: 25px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

.nn1_button_block {
	height: 80px;
	width: 150px;
	margin-left: 0px;
	margin-top: 100px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.questions_zone {
	display: grid;
	grid-template-columns: 1000px;
  	grid-template-rows: 50px 270px;
  	height: 320px;
  	width: 1000px;
	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	border: 5px #7426E0 solid;
}

.form-group {
	display: block;
	margin-left: 40px;
}

textarea {
	height: 90px;
	width: 800px;
	resize: none;
	font-size: 20px
}

mark {
  background-color: yellow;
  color: black;
}

.manipulate_zone {
	display: grid;
	grid-template-columns: 1040px;
  grid-template-rows: 200px 160px 60px 60px;
  height: 480px;
  width: 1040px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: blue solid;
}

.jumpers_input {
	display: grid;
	grid-template-columns: 500px 240px 300px;
  grid-template-rows: 200px;
  height: 200px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url(../static/images/ch6_gears3.png);
	background-size: 70%;
	background-repeat: no-repeat;
}

#jumper1_input {
	margin-top: 145px;
	margin-left: 265px;
	font-size: 25px;
	height: 40px;
	width: 40px;
}

#jumper2_input {
	margin-top: 145px;
	margin-left: 115px;
	font-size: 25px;
	height: 40px;
	width: 40px;
}


.output_zone1 {
	display: grid;
	grid-template-columns: 20px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 20px 40px;
  grid-template-rows: 160px;
  height: 160px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.output_zone2 {
	display: grid;
	grid-template-columns: 20px 1000px 20px;
  height: 60px;
  width: 1040px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.output_zone3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

#sum {
	background-color: yellow;
}

#error {
	background-color: yellow;
}

.health_nn {
	display: grid;
	grid-template-columns: 300px 250px 250px 200px;
  	grid-template-rows: 100px 160px 240px 100px;
	height: 600px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	border: #26C1E0 solid;
}

.health_nn_background {
	background-image: url(../static/images/ch3_health_nn.png);
	background-repeat:no-repeat;
	background-size: 95%;
	background-position: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

#health_nn_x1 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 145px;
	margin-top: 130px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#health_nn_x2 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 145px;
	margin-top: 75px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#health_nn_w1 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 130px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#health_nn_w2 {
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 75px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#health_nn_y {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 180px;
	margin-top: 18px;
	font-size: 25px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.health_nn_button_block {
	height: 80px;
	width: 150px;
	margin-left: 165px;
	margin-top: 150px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.blood_pressure {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	margin-left: 20px;
	margin-top: 200px;
}

.blood_pressure_button_block {
	height: 50px;
	width: 80px;
	margin-left: 140px;
	margin-top: 250px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.blood_pressure_output {
	height: 100px;
	width: 300px;
	margin-left: 200px;
	margin-top: 220px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

#blood_pressure_x1 {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 340px;
	margin-top: 226px;
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#blood_pressure_x2 {
	display: block;
	height: 40px;
	width: 60px;
	margin-left: 340px;
	margin-top: 265px;
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.heart_rate {
	display: block;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin-left: 10px;
	margin-top: 50px;
}

.health_or_sick {
	display: block;
	height: 200px;
	width: 200px;
	background-image: url(../static/images/sick.png);
	background-repeat: no-repeat;
	background-size: 100%;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left: 0px;
	margin-top: 100px;
}

.questions_zone {
	display: grid;
	grid-template-columns: 1000px;
  grid-template-rows: 50px 400px;
  height: 450px;
  width: 1000px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 5px #7426E0 solid;
}

.modify_zone {
	display: grid;
	grid-template-columns: 400px 600px;
  grid-template-rows: 400px 100px 250px;
  height: 750px;
  width: 1000px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
	border: #26C1E0 solid;
}

.algo {
	display: block;
	height: 100px;
	width: 1000px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.error_text {
	display: block;
	height: 400px;
	width: 400px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.error_list {
	display: block;
	height: 400px;
	width: 600px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.error_m {
	display: block;
	height: 250px;
	width: 1000px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

</style>

<h2>誤差與學習演算法</h2>
<p>學習演算法是透過誤差進行權重的調整，</p>
<p>我們在理解學習演算法之前，先回顧一下誤差的概念吧。</p>

<p style="text-align: center; margin-bottom: 0px;">(<img src="{{ url_for('static', filename='images/tap.png') }}" height="50">試著在方格中輸入數字，並按下計算)</p>
<div class="emptynn1">
	<input type="text" name="nn1_x1" id="nn1_x1">
	<input type="text" name="nn1_x2" id="nn1_x2">
	<input type="text" name="nn1_w1" id="nn1_w1">
	<input type="text" name="nn1_w2" id="nn1_w2">
	<p id="nn1_y">0</p>
	<input type="text" name="nn1_expect" id="nn1_expect">
	<p id="nn1_error">0</p>
	<div class="nn1_button_block">
		<button style="font-size:20px; width: 100%; height: 100%;" onclick="nn1_count()">計算</button>
	</div>
</div>

<p>在1958年時，<mark>Frank Rosenblatt提出的學習演算法</mark>：</p>
<p style="text-align: center; margin-bottom: 0px;">w<sub>i</sub><sup>t+1</sup> = w<sub>i</sub><sup>t</sup> + 𝛼 * x<sub>i</sub> * Error<sup>t</sup></p>
<p style="text-align: center; margin-bottom: 0px;">(<img src="{{ url_for('static', filename='images/tap.png') }}" height="50">演算法中的「error」即為「誤差」)</p>

<p>雖然我們說明了這個演算法為何這樣設計，</p>
<p>但為了更容易理解這個演算法設計的用意，</p>
<p>讓我們<mark>用先前健康照護的例子來理解這個演算法</mark>吧。</p>
<img src="{{ url_for('static', filename='images/health_score.png') }}" height="150" style="display: block; margin-left: auto; margin-right: auto;">

<p style="text-align: center; margin-bottom: 0px;">(<img src="{{ url_for('static', filename='images/tap.png') }}" height="50">試著在方格中輸入數字，並按下計算)</p>
<div class="health_nn">
	<div class="health_nn_background"></div>
	<input type="text" name="health_nn_x1" id="health_nn_x1">
	<input type="text" name="health_nn_x2" id="health_nn_x2">
	<input type="text" name="health_nn_w1" id="health_nn_w1">
	<input type="text" name="health_nn_w2" id="health_nn_w2">
	<p id="health_nn_y">0</p>

	<div class="blood_pressure">
		<img src="{{ url_for('static', filename='images/blood-pressure.png') }}" height="100">
	</div>
	<div class="blood_pressure_button_block">
		<button style="font-size:15px; width: 100%; height: 100%;" onclick="blood_pressure_count()">測量血壓</button>
	</div>
	<div class="blood_pressure_output">
		<p>收縮壓為_______mmHg</p>
		<p>舒張壓為_______mmHg</p>
	</div>

	<p id="blood_pressure_x1"></p>
	<p id="blood_pressure_x2"></p>

	<div class="heart_rate">
		<img id="heartBTN" src="{{ url_for('static', filename='images/heart-rate.png') }}" height="100" style="display:block; margin-left: 100px" onclick="heartSound()">
		<p style="text-align: center; margin-bottom: 0px;">(試著打開聲音並點擊心臟)</p>
		<audio id="audio">
			<source src="{{ url_for('static', filename='images/heartbeat-01a.mp3') }}" type="audio/mpeg">
		</audio>
	</div>

	<div class="health_nn_button_block">
		<button style="font-size:20px; width: 100%; height: 100%;" onclick="health_nn_count()">計算</button>
	</div>
	
</div>
<p>我們以小恩的健康資料來看，</p>
<p><mark>起初類神經網路的權重皆為0</mark>的時候，</p>
<p><mark>誤差即為97分</mark>，此時調整權重的算法會如下圖：</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify1.png') }}" width="500" style="display: block; margin-left: auto; margin-right: auto;">
<p>此時，<mark>我們可以看到𝛼值，也就是「學習率」是沒有設定好的</mark>，</p>
<p>不過這樣也更能看出「學習率」的用意，</p>
<p><mark>如果𝛼值設定為1，則權重就會被調整太多，</mark></p>
<p><mark>依照資料當中的數值，我們應該將𝛼值設定小一些。</mark></p>
<p>假如我們將<mark>𝛼值設定為0.0001</mark>則權重的調整就會如下：</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify2.png') }}" width="500" style="display: block; margin-left: auto; margin-right: auto;">
<p>此時，<mark>類神經網路計算第二次迭代的健康分數(y值)</mark>：</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify3.png') }}" width="500" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>以及第二次迭代的誤差</mark>：</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify4.png') }}" width="500" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>接著再計算第三次迭代的權重</mark>：</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify5.png') }}" width="500" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>而第三次迭代的健康分數(y值)</mark>：</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify6.png') }}" width="500" style="display: block; margin-left: auto; margin-right: auto;">
<p>而在上述的運算過程當中，</p>
<p>值得注意的是<mark>「誤差」的大小以及正負對於權重調整的影響</mark>，</p>
<p>起初類神經網路的誤差較大(97分)，在第二次迭代誤差較小(-29.1分)，</p>
<p>所以在<mark>計算第二次迭代的權重時，調整幅度較大</mark>。</p>
<p>而因為正負的不同，也讓<mark>計算第二次迭代的權重時，是往正方向調整</mark>；</p>
<p><mark>計算第三次迭代的權重時，則是往負方向調整</mark>。</p>
<img src="{{ url_for('static', filename='images/ch6_w_modify7.png') }}" width="800" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>我們以動畫回顧上述的過程</mark>：</p>
<video width="1000" controls style="display: block; margin-left: auto; margin-right: auto;">
  <source src="{{ url_for('static', filename='images/ch6_animation2.mp4') }}" type="video/mp4">
</video>
<p>不過，在此例需要注意一個小細節，</p>
<p><mark>權重調整的方向，是同時受到輸入值(x<sub>i</sub>)以及誤差(error<sup>t</sup>)影響，</mark></p>
<p><mark>若將上述算式的輸入值改為負值，權重的調整方向則會相反。</mark></p>

<p style="text-align: center; margin-bottom: 0px;">(<img src="{{ url_for('static', filename='images/tap.png') }}" height="50">試著勾選選單，並觀察權重調整的情況)</p>
<div class="modify_zone">
	<div class="error_text">
		<p style="font-size: 30px; margin-left: 280px; margin-top: 160px">error<sup>t</sup>：</p>
	</div>
	<div class="error_list">
		<form style="margin-top: 20px">
			<input type="radio" name="error_sele" value="error1" onclick="check(this.value)"> <img src="{{ url_for('static', filename='images/ch6_error1.png') }}" width="300"><br>
			<input type="radio" name="error_sele" value="error2" onclick="check(this.value)"> <img src="{{ url_for('static', filename='images/ch6_error2.png') }}" width="300"><br>
			<input type="radio" name="error_sele" value="error3" onclick="check(this.value)"> <img src="{{ url_for('static', filename='images/ch6_error3.png') }}" width="300"><br>
			<input type="radio" name="error_sele" value="error4" onclick="check(this.value)"> <img src="{{ url_for('static', filename='images/ch6_error4.png') }}" width="300"><br>
		</form>
	</div>
	<div class="algo">
		<p style="text-align: center; margin-bottom: 0px; font-size: 30px;">w<sub>i</sub><sup>t+1</sup> = w<sub>i</sub><sup>t</sup> + 𝛼 * x<sub>i</sub> * error<sup>t</sup></p>
		<p style="text-align: center"><mark>(考慮x<sub>i</sub>為正的情況)</mark></p>
	</div>
	<div class="error_m">
		<img id="error_modify" src="" height="250" style="display: block; margin-left: auto; margin-right: auto;">
	</div>
</div>
<p>權重調整後，也會改變類神經網路的輸出值，</p>
<p>而<mark>每次的調整都可能讓誤差降低</mark>，</p>
<p><mark>誤差越小，權重調整的幅度就越小</mark>，</p>
<p>這也影響著類神經網路每次逼近期望輸出的幅度，</p>
<p>隨著<mark>類神經網路的輸出值越靠近期望輸出，類神經網路下一次逼近的幅度就會越小</mark>。</p>
<img src="{{ url_for('static', filename='images/ch6_w_m.png') }}" width="800" style="display: block; margin-left: auto; margin-right: auto;">
<p><mark>我們以動畫回顧上述的過程</mark>：</p>
<video width="1000" controls style="display: block; margin-left: auto; margin-right: auto;">
  <source src="{{ url_for('static', filename='images/ch6_animation3.mp4') }}" type="video/mp4">
</video>

<div class="questions_zone" style="margin-top: 40px;">
	<h2>思考一下，回答問題</h2>
		<div style="margin-top: 40px;">
			<h3>問題一</h3>
			<p>你認為除了像學習演算法調整類神經網路的權重，</p>
			<p>有沒有其他策略也能夠調整好權重，讓類神經網路有正確的輸出？</p>
			<h3>問題二</h3>
			<p>在學習率與輸入值不變的情況下，</p>
			<p>依照學習演算法，越小的誤差會如何影響權重調整的幅度？</p>
		</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='ch6_manipulate_1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ch3_manipulate_2.js') }}"></script>

{% include 'ch6_buttom.html' %}
{% endblock %}