<h1>電腦學會如何學習了嗎？——類神經網路學習分類 </h1>

<h3>概念理解</h3>
<a href="/ch6_concept_1" style="margin-left: 40px; background-color: {{ c6_1  }};">類神經網路如何自動調整權重？</a>

<h3>概念反思</h3>
<a href="/ch6_manipulate_1" style="margin-left: 40px; background-color: {{ m6_1  }};">誤差與學習演算法</a>
<a href="/ch6_manipulate_2" style="margin-left: 40px; background-color: {{ m6_2  }};">學習分類昆蟲資料</a>
<a href="/ch6_manipulate_3" style="margin-left: 40px; background-color: {{ m6_3  }};">激勵函數與學習演算法</a>


<h3>概念應用</h3>
<a href="/ch6_quiz_1" style="margin-left: 40px; background-color: {{ q6_1  }};">訓練類神經網路實作</a>