{% extends 'layout.html' %}

{% block body %}

{% include 'ch6_top.html' %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<style type="text/css">

.c_hint_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 1300px;
	height: 1350px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

.c_output_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 1800px;
	height: 1850px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

.p_hint_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 720px;
	height: 770px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

.p_output_zone {
	display: grid;
	grid-template-columns: 1000px;
	grid-template-rows: 50px 750px;
	height: 800px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px #7426E0 solid;
}

code {
	font-size: 20px;
}

</style>

<h2>訓練類神經網路實作</h2>
<p>在這個章節中，我們學習到「學習演算法」，</p>
<p>也透過「學習分類昆蟲資料」的例子了解到訓練類神經網路的過程，</p>
<p>請依照下面的程式提示，實作「學習分類昆蟲資料」的訓練過程。</p>


<h2>C語言</h2>
<div class="c_hint_zone">
	<h2>程式提示</h2>
	<pre>
	<code class="c">
	#include &lt;stdio.h&gt;

	float nn(float x[], float w[], int n ,float theta){
		float X = 0;
		for(__________){
			__________________
		}
		______________
		return X;
	}

	int step(float X){
		if (_________)
			return 1;
		else
			return 0;
	}

	float nn_step(float x[], float w[], int n ,float theta){
		return ________________________
	}

	float *new_weight(float x[], float w[], int n, float y, float yd, float alpha){
		float error = yd - y;
		for(__________________){
			w[i] = _______________________________________
		}
		return w;
	}

	int main() {
		float X[4][2]={
			{5, 2},
			{4.5, 2.5},
			{3, 4},
			{2.5, 3}
		};
		float Yd[]={1, 1, 0, 0};
		float w[] = {0.3, 0.1};
		float *new_w;

		new_w = w;
		for(__________________){
			for(__________________){
				float y = __________________________
				new_w = new_weight(_______________________________);
			}
		}
		return 0;
	}
	</code>
	</pre>
</div>

<div class="c_output_zone">
	<h2>輸出提示</h2>
	<pre>
	<code class="c">
    #include &lt;stdio.h&gt;

	float nn(float x[], float w[], int n ,float theta){
		float X = 0;
		for(__________){
			__________________
		}
		______________
		return X;
	}

	int step(float X){
		if (_________)
			return 1;
		else
			return 0;
	}

	float nn_step(float x[], float w[], int n ,float theta){
		return ________________________
	}

	float *new_weight(float x[], float w[], int n, float y, float yd, float alpha){
		float error = yd - y;
		for(__________________){
			w[i] = _______________________________________
		}
		return w;
	}

	int main() {
		float X[4][2]={
			{5, 2},
			{4.5, 2.5},
			{3, 4},
			{2.5, 3}
		};
		float Yd[]={1, 1, 0, 0};
		float w[] = {0.3, 0.1};
		float *new_w;

		new_w = w;
		for(__________________){
			for(__________________){
				float y = __________________________
				new_w = new_weight(_______________________________);
				printf("%f %f\n", new_w[0], new_w[1]);
			}
		}
		return 0;
	}

	>> 0.300000 0.100000
	   0.300000 0.100000
	   -0.300000 -0.700000
	   -0.300000 -0.700000
	   0.700000 -0.300000
	   0.700000 -0.300000
	   0.100000 -1.100000
	   0.100000 -1.100000
	   1.100000 -0.700000
	   1.100000 -0.700000
	   0.500000 -1.500000
	   0.500000 -1.500000
	   1.500000 -1.100000
	   1.500000 -1.100000
	   1.500000 -1.100000
	   1.000000 -1.700000
	   1.000000 -1.700000
	   1.000000 -1.700000
	   1.000000 -1.700000
	   1.000000 -1.700000
	</code>
	</pre>
</div>

<h2>Python</h2>
<div class="p_hint_zone">
	<h2>程式提示</h2>
	<pre>
	<code class="python">
	X = [[5, 2], [4.5, 2.5], [3, 4], [2.5, 3]]
	Yd = [1, 1, 0, 0]
	w = [0.3, 0.1]

	def nn(x, w, n, theta):
		X = 0
		for _____________:
			X += _____________
		X = _________
		return X

	def step(X):
		if _________:
			return 1
		else:
			return 0

	def nn_step(x, w, n, theta):
		return ________________________

	def new_w(x, w, n, y, yd, alpha):
		error = _________
		for _________:
			w[i] = ___________________________
		return w
	</code>
	</pre>
</div>

<div class="p_output_zone">
	<h2>輸出提示</h2>
	<pre>
	<code class="python">
	for i in range(5):
		for j in range(4):
			y = nn_step(X[j], w, 2, 0.2)
			w = new_w(X[j], w, 2, y, Yd[j], 0.2)
			print(w)

	>> [0.3, 0.1]
	   [0.3, 0.1]
	   [-0.3000000000000001, -0.7000000000000001]
	   [-0.3000000000000001, -0.7000000000000001]
	   [0.7, -0.30000000000000004]
	   [0.7, -0.30000000000000004]
	   [0.09999999999999987, -1.1]
	   [0.09999999999999987, -1.1]
	   [1.0999999999999999, -0.7000000000000001]
	   [1.0999999999999999, -0.7000000000000001]
	   [0.4999999999999998, -1.5]
	   [0.4999999999999998, -1.5]
	   [1.4999999999999998, -1.1]
	   [1.4999999999999998, -1.1]
	   [1.4999999999999998, -1.1]
	   [0.9999999999999998, -1.7000000000000002]
	   [0.9999999999999998, -1.7000000000000002]
	   [0.9999999999999998, -1.7000000000000002]
	   [0.9999999999999998, -1.7000000000000002]
	   [0.9999999999999998, -1.7000000000000002]
	</code>
	</pre>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% include 'ch6_buttom.html' %}
{% endblock %}